@import '~bootstrap/scss/bootstrap';



.blu{
    background-color: blue;
}

.grigio{
    background-color: grey;
}

.sfondoFooter{
    background-image: url(../assets/images/footer-bg.jpg);
}

.sfondoHeader{
    background-image: url(../assets/images/jumbotron.jpg);
    height: 400px;
}